<!Doctype html>
<html class="" lang="fa-IR" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="description" content="">
    <title>عنوان سند جدید</title>
    <link rel="stylesheet"  href="../assets/css/style.css">
    <link rel="stylesheet" href="../dist/output.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body class="overflow-x-hidden bg-bg_color">
    <header class="site_header">
    </header>
    <main class="bg-bg_color">
        <!-- Bacground Image -->
        <div class="bg-main_img h-[350px] bg-center bg-cover"></div>
        <!-- End Bacground Image -->
        <!-- Banner -->
        <div class="flex  mt-[-100px] ">
            <!-- Container -->
            <div class="container sm:m-0 p-[20px]  l:flex-col l:items-center bg-[#fff] ">
                <div
                    class="flex  min-w-[50%] l:w-full  l:flex-col l:mt-[-46px] l:items-center  l:px-[22px] border-[#dce1e4] border-l l:border-b-[1.5px] l:border-l-0 xl:flex-col xl:w-[45%] xl:items-center">
                    <!-- Banner Image -->
                    <div class=" relative top-[-80px] mr-[15px] ">
                        <img class="border-[5px]  border-[#ecf0f3] rounded-[15px]"
                            src="../assets/img/sample/banner-10.png" alt="">
                    </div>
                    <!-- End Banner Image -->
                    <div
                        class="mr-[30px] ml-[15px] pl-[20px] flex l:items-center xl:items-center w-full l:pb-[30px] flex-col content-none  l:mx-[5px] xl:mt-[-46px]">

                        <div class="title text-right l:text-center flex flex-col w-full items-center xl:text-center">
                            <h4 class="">دکتر عالمین بالی</h4>
                            <p class="">من یک تکنسین هستم</p>
                        </div>
                        <!-- Social -->
                        <ul class="icon gap-[15px] pt-[20px] mb-[15px] flex">
                            <li class="gradient_bg">
                                <a href="#">
                                    <ion-icon name="logo-linkedin"></ion-icon>
                                </a>
                            </li>
                            <li class="gradient_bg">
                                <a href="#">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                </a>
                            </li>
                            <li class="gradient_bg">
                                <a href="#">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a>
                            </li>
                        </ul>
                        <!-- End Social -->
                    </div>
                    <!-- Info -->

                    <!-- End Info -->
                </div>
                <div
                    class=" items-center flex pr-[15px] md:flex-col l:pr-[0px] md:gap-y-10 l:items-start l:w-full l:mt-[30px]">
                    <div class="pr-[30px] md:pr-0">
                        <div class="title">
                            <span>ایمیل</span>
                            <h5>example@gmail.com</h5>
                        </div>
                        <div class="title">
                            <span>تلفن</span>
                            <h5>+880123456789</h5>
                        </div>
                    </div>
                    <div class="pr-[30px] l:pr-[100px] md:pr-0">
                        <div class="title">
                            <span>تولد</span>
                            <h5>10 مهر</h5>
                        </div>
                        <div class="title">
                            <span>محل</span>
                            <h5>ایران یزد</h5>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Container -->
        </div>
        <!-- End Banner -->
        <!-- Container -->
        <div class="container l:flex-col gap-[20px]  l:mt-[10px]  mt-[40px] sm:m-0">
            <!-- Nav -->
            <div
                class="block  min-w-[160px] max-w-[200px] xl:min-w-[150px] xl:max-w-[140px]  l:min-w-full l:pt-[35px] l:pb-[15px] sm:pt-[5px]">
                <div class="sticky top-[25px] z-10 w-auto sm:fixed sm:top-auto sm:bottom-0 sm:w-[100vw]">
                    <ul
                        class="nav bg-[#fff] py-[20px] px-[15px] w-full h-auto rounded-[10px]  flex flex-col xl:flex-row   xl:flex-wrap xl:px-[20px] l:px-[15px]  l:py-[10px] sm:justify-between sm:py-[5px] sm:flex-nowrap">
                        <li><a class="bg-red !text-white" href="#">درباره ما</a> </li>
                        <li><a href="#">رزومه</a> </li>
                        <li><a href="#">کار</a></li>
                        <li><a href="#">وبلاگ</a> </li>
                        <li><a href="#">تماس با ما</a></li>
                    </ul>
                </div>
            </div>

            <!-- End Nav -->
            <div class=" px-[35px]  h-full   py-[45px] bg-[#fff] flex rounded-lg flex-col">
                <!-- About Me -->
                <div class=" w-full pb-[25px] h-full flex l:flex-col">
                    <div class="pl-[15px] ml-[20px]  w-[70%] h-[70%] l:w-full l:h-full">
                        <div class=" overflow-hidden rounded-[8px] h-full w-full ">
                            <img class="w-full h-full hover:scale-110 transition-all duration-500"
                                src="../assets/img/sample/about-2.jpg" alt="">
                        </div>
                    </div>

                    <div class="left flex  flex-col w-full px-[10px] l:pt-[40px]">
                        <span class="text-red font-light mb-[10px] text-[14px] block sm:text-center">از نمونه کارها من
                            دیدن
                            کنید و من را
                            استخدام کنید</span>
                        <div class="flex flex-col sm:items-center">
                            <h4 class="font-medium text-[#3c3e41] text-[32px] w-full mb-[10px] sm:text-center">درباره من
                            </h4>
                            <p
                                class="mt-[23px]  text-[16px] pl-[10%] xl:pl-0 text-[#3c3e41] font-light line-clamp-[7] sm:text-center xl:line-clamp-6 ">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                گرافیک
                                است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است لورم ایپسوم
                                متن
                                ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها
                                و
                                متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                            </p>
                        </div>
                        <div class="skills flex flex-col gap-[12px] mt-[30px] mb-[40px]">
                            <span>
                                <ion-icon name="checkmark-outline"></ion-icon> طراحی وب پشته کامل
                            </span>
                            <span>
                                <ion-icon name="checkmark-outline"></ion-icon> پشتیبانی
                            </span>
                            <span>
                                <ion-icon name="checkmark-outline"></ion-icon> بازبینی نامحدود
                            </span>
                        </div>
                        <div class="flex sm:justify-center">
                            <button
                                class="w-[140px]  h-[60px]  rounded-lg sm:w-[75%] gradient_bg hover:bg-none hover:-translate-y-2  duration-[350ms] delay-75 transition-all shadow-slate-300 shadow-lg">
                                <span
                                    class="w-full sm:text-base text-[14px] h-full flex items-center hover:bg-red justify-center ease-in  duration-[250ms] transition-all  hover:text-white text-red rounded-lg">
                                    دانلود رزومه
                                </span>
                            </button>
                        </div>

                    </div>
                </div>
                <!-- End About Me -->
                <!-- My Work -->
                <div class="my_work w-full">
                    <div class="title w-full text-center pb-[15px]">
                        <h6 class="mb-[30px] ">کاری که من انجام می دهم</h6>
                    </div>
                    <div class="flex l:flex-col l:gap-[35px]">
                        <div class="px-[15px]">
                            <div class="myWorkCard">
                                <div class="inner">
                                    <ion-icon name="create-outline"></ion-icon>
                                    <div class="title">
                                        <h6>طراحی وب پشته کامل</h6>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-[15px]">
                            <div class="myWorkCard">
                                <div class="inner">
                                    <ion-icon name="tv-outline"></ion-icon>
                                    <div class="title">
                                        <h6>طراحی وب پشته کامل</h6>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                            لازم است
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End My Work -->
                <!-- Case -->
                <div class="mt-[50px] flex flex-col items-center">
                    <div class="title w-full text-center pb-[15px]">
                        <h6>مشتریان مورد اعتماد ما</h6>
                    </div>
                    <div class="flex case mb-[30px] gap-[28px] justify-center md:w-1/2 xl:w-[558px]  xl:flex-wrap ">
                        <div class="gradient_bg ">
                            <div class="inner ">
                                <div class="img">
                                    <a href="#">
                                        <img src="../assets/img/brand-04 (1).png" alt="">
                                    </a>
                                </div>
                                <div class="title">
                                    <span>
                                        <a href="#">
                                            میلادوس
                                        </a>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="gradient_bg ">
                            <div class="inner ">
                                <div class="img">
                                    <a href="#">
                                        <img src="../assets/img/brand-05.png" alt="">
                                    </a>
                                </div>
                                <div class="title">
                                    <span>
                                        <a href="#">
                                            میلادوس
                                        </a>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="gradient_bg ">
                            <div class="inner ">
                                <div class="img">
                                    <a href="#">
                                        <img src="../assets/img/brand-04.png" alt="">
                                    </a>
                                </div>
                                <div class="title">
                                    <span>
                                        <a href="#">
                                            میلادوس
                                        </a>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="gradient_bg ">
                            <div class="inner ">
                                <div class="img">
                                    <a href="#">
                                        <img src="../assets/img/brand-06.png" alt="">
                                    </a>
                                </div>
                                <div class="title">
                                    <span>
                                        <a href="#">
                                            میلادوس
                                        </a>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Case -->
            </div>


        </div>
        <div class="top ">
            <a class="fixed bottom-[30px] text-red transition-all duration-400 hover:bg-none hidden_bg  left-[30px] z-[999] w-[50px] h-[50px] rounded-[50%] shadow-xl flex justify-center items-center hover:text-white hover:bg-red"
                href="#top">
                <ion-icon class="text-[14px]  w-[27px] h-[27px]  relative z-[1]  overflow-hidden  " name="arrow-up">
                </ion-icon>
            </a>
        </div>
        <div class="demo h-[40px] fixed z-[99] left-[-10px] sm:left-[-2px] top-[calc(50%-55px)] shadow-lg pr-[10px] pl-[8px]   rotate-90 gradient_bg rounded-r-[6px]  rounded-l-[6px]">
       <button class="  relative z-[2] text-[15px] font-light w-full h-full text-red p-[5px]  flex justify-center items-center">
        <span class=" rounded-[6px] z-[-1]">دمو</span>
       </button>
        </div>
        <!-- End Container -->
        <div class="py-[100px]">
            <div class="container">
                <div class="flex w-full flex-col items-center px-[15px] ">
                    <div>
                        <a href="#" class="w-full">
                            <img src="../assets/img/sample/logo-vertical-dark.png" alt="">
                        </a>
                    </div>
                    <div>
                        <p class="des mt-[30px] text-[#3c3e41] text-[17px] font-light sm:flex sm:flex-col">
                            © 1401 . طراحی و توسعه توسط
                            <a class="sm:w-full sm:text-center" href="#">گروه برنامه نویسی وارنا</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer>
    </footer>
</body>

</html>